
.gutenberg__editor {
  .components-drop-zone__provider, .components-navigate-regions {
    height: unset;
  }

  .edit-post-layout__content {
    position: static;
    top: unset;
    margin-left: 0;
    min-height: 0;
    height: auto;
    overflow-y: unset;
  }
  
  .edit-post-layout {
    height: unset;
    position: static;
  }
}

.gutenberg__content {
  .wp-block-columns {
    display: flex;
  }
}